<ion-header>
  <ion-toolbar>
    <ion-col>
      <div class="ion-text-center">
        <h3>Inicio</h3>
      </div>
    </ion-col>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="ion-text-center">
      <h3>Selecciona una pagina</h3>
    </div>
  </ion-col>

    <ion-button color="danger"  expand="block" fill="outline" (click)="pagina1()">Pagina 1</ion-button>
    <br>
    <ion-button color="danger"  expand="block" fill="outline"(click)="pagina2()">Pagina 2</ion-button>
    <br>
    <ion-button color="danger"  expand="block" fill="outline" (click)="pagina3()">Pagina 3</ion-button>
    <br>
    <ion-button color="danger"  expand="block" fill="outline"(click)="pagina4()">Pagina 4</ion-button>
    <br>
    <ion-button color="danger"  expand="block" fill="outline" (click)="pagina5()">Pagina 5</ion-button>
    <br>
    <ion-button color="danger"  expand="block" fill="outline" (click)="pagina6()">Pagina 6</ion-button>